.main

  .main-header
    .main-header__left
      .left-name
        = @group.name
      .left-member
        - @group.users.each do |user|
          = user.name
    .main-header__right
      = link_to edit_group_path(@group.id) do
        %button{type: "submit", class:'btn'} Edit
        

  .main-center
    .main-center__main
      = render @messages
        
            
    .main-footer
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .input_box
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'