.side

  .side-header

    .header-box
      %h3.header-box__user
        = current_user.name

      %ul.header-box__icon
        %li.list
          = link_to do
            = icon('fas', 'pen-square', class: 'icon')
        %li.list
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .side-main

    .side-main__first
      .side-first__name
        = link_to "#" do
          test1
      .side-first__message
        まだメッセージがありません

    .side-main__second
      .side-second__name
        = link_to "#" do
          test2
      .side-second__message
        まだメッセージがありません
